{
   "extends": [/*"next/core-web-vitals", */ "prettier"],
   "rules": {
      // disable
      "prefer-const": "off",
      "react-hooks/exhaustive-deps": "off",
      "no-unused-vars": "warn",

      // enable
      "linebreak-style": ["error", "windows"]
      // "indent": ["warn", 3, { "SwitchCase": 1 }],
      // "quotes": ["error", "single"],
      // "semi": ["error", "always"],
      // "jsx-quotes": ["error", "prefer-single"]
   }
}
